html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ul, ol, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-weight: normal;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

p, blockquote, pre, a, abbr, acronym {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

option{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}