
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

input{
    font-weight: 400;
    font-size: 14px;
    color: #b0b0b0;
}

.header__top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: revert-layer;
    gap: 780px;
    background: #7ac751;
    margin-bottom: 40px;

    .header__welcome{
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

    .header__controls{
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

}

header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header__bottom {
    width: 100%;
    max-width: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .search-bar {
        width: 582px;
        height: 46px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        border: 2px solid #7ac751;
        border-radius: 8px;

        .search-bar__button {
            width: 55px;
            height: 48px;
            border-radius: 0 7px 6px 0;
            background: #7ac751;
        }

        .search-bar__input {
            margin-left: 25px;
        }




    }

    .header__icons {
        display: flex;
        gap: 21px;
    }

}

.search-bar__group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Основний контейнер */
.dropdown-menu {
    font-family: Arial, sans-serif;
    position: relative; /* Важливо для позиціонування випадаючого контенту */

}

.dropdown-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #555;
}

/* Елемент, що викликає випадаюче меню */
.dropdown-menu__toggle {
    display: inline-block;
}

.dropdown-menu__link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}



/* Контейнер випадаючого контенту */
.dropdown-menu__content {
    list-style: none;
    padding: 0;
    margin: 0;

    /* Ключові стилі для випадаючого меню */
    display: none; /* Приховуємо за замовчуванням */
    position: absolute; /* Позиціонуємо відносно .dropdown-menu__toggle */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    top: 100%; /* Розміщуємо під початковим елементом */
    left: 0;
    border-radius: 5px;
}

/* Стиль для елементів всередині випадаючого меню */
.dropdown-menu__content-item a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* Запобігає перенесенню тексту */
    transition: background 0.9s ease-out ;
    border-radius: 4px;
}

.dropdown-menu__content-item a:hover {
    background:  #7ac751;
}

/* Правило, яке показує випадаюче меню при наведенні */
.dropdown-menu__toggle:hover .dropdown-menu__content {
    display: block; /* Робимо видимим */
}





.hero__nav{
    width: 100%;
    max-width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 80px;
    left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;

    .hero__nav-list{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

        .hero__nav-btn{
            width: 260px;
            height: 67px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #7ac751;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #fff;
            text-align: center;
            left: -20px;
        }

}

.hero__nav--list{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero__aside{
    width: 100%;
    max-width: 260px;
    height: 454px;
    display: flex;
    flex-direction: column;

    .hero__aside-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #555;
    }

}

.банер-акція{
    width: 100%;
    max-width: 899px;
    height: 439px;
}

.section__hero{
    width: 100%;
    max-width: 1100px;
    margin-bottom: 10px;
}

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
